@{
    ViewData["Title"] = "Home Page";
}
<div id="home" data-id="@ViewBag.id">
</div>

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">


@section Scripts{
    <script src="~/js/react/dist/homePage.bundle.js"></script>
}